.DS_Store
.DS_Store?
._*
.Trashes
Icon?
ehthumbs.db
Thumbs.db

.git/
*.exe
*.tmp
*.txt
.idea/*.xml
.idea
*.ini
nohup.out
var/
tmp
bin/
*/bin/*
.idea/*
/.idea/
/.idea/..
/config
#vendor/
vendor.bak/
bak*
log.log
bin/
.conf.yaml
